.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: color_sky 100s linear infinite;
}
/* Анимация */
/* Цвет неба */
@keyframes color_sky {
    0%{
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    25%{
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    66%{
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
    100%{
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
}

/* Перемещение лодки влево */
@keyframes ship_move {
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(-600px);
    }
}
/* Пар с лодки */
@keyframes smoke_up {
    0%{
        transform: scale(1.2);
        opacity: 0.8;
    }
    50%{
        transform: scale(1.75) translateY(-8px);

    }
    75%{
        transform: scale(2) translateY(-9px);
        opacity: 0.5;
    }
    100%{
        transform: scale(4) translateY(-9.5px);
        opacity: 0;
    }
}

/* Поворот солнца вокруг оси */
@keyframes sun_rotate {
    100%{
        transform: rotate(1turn);
    }
}
/* Движение солнца по кругу */
@keyframes sun_wrapper_rotate {
    100%{
        transform: rotate(1turn);
    }
}
/* Движение облаков */
@keyframes cloud_move_1 {
    0% {
        transform: translateX(10px) scale(0.2);
    }
    100% {
        transform: translateX(800px) scale(0.2);
    }
}
@keyframes cloud_move_2 {
    0% {
        transform: translateX(10px) scale(0.4) ;
    }
    100% {
        transform: translateX(800px) scale(0.4) ;
    }
}
@keyframes cloud_move_3 {
    0% {
        transform: translateX(10px) scale(0.6);
    }
    100% {
        transform: translateX(800px) scale(0.6);
    }
}
@keyframes cloud_move_4 {
    0% {
        transform: translateX(10px) scaleX(0.8);
    }
    100% {
        transform: translateX(800px) scaleX(0.8);
    }
}

/*TODO
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
        
Нужно реализовать плавный переход между ними и зациклить его.
*/

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    
    width: 100px;
    height: 36px;

    animation: ship_move 50s linear infinite;
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;
}

.smoke-1 {
    top: -25px;
    right: 44px;

    animation: smoke_up 3s linear infinite 1s;
}

.smoke-2 {
    top: -25px;
    right: 42px;

    animation: smoke_up 3s linear infinite 2s;
}

.smoke-3 {
    top: -25px;
    right: 49px;

    animation: smoke_up 3s linear infinite 3s;
}

.sun {
    position: absolute;
    top: 30px;
    right: 50%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
    
    animation: sun_rotate 25s linear infinite;
}

.sun-wrapper {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: bottom center;

    animation: sun_wrapper_rotate 100s linear infinite;
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}


.cloud {
    position: absolute;
    /* Чтоб облака выходили из горизонта */
    left: -210px; 
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;

    animation: cloud_move_1 40s linear infinite 4s;
}

.cloud-2 {
    top: 50px;

    animation: cloud_move_2 30s linear infinite 3s;
}

.cloud-3 {
    top: 100px;

    animation: cloud_move_3 25s linear infinite 2s;
}

.cloud-4 {
    top: 170px;

    animation: cloud_move_4 20s linear infinite 1s;
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}
